.root {
  border: 1px solid var(--subtle-color);
  width: 320px;
  padding: 24px;
}

.control {
  margin-bottom: 24px !important;
}

.button {
  display: block !important;
  margin-left: auto !important;
}
